- if current_user.admin?
  - if @all
    %col{ :width => '5%' } <!-- ID -->
    %col{ :width => '20%' } <!-- Employee -->
    %col{ :width => '20%' } <!-- For Dates -->
    %col{ :width => '6%' } <!-- Hours -->
    %col{ :width => '6%' } <!-- Rate -->
    %col{ :width => '10%' } <!-- Net Pay -->
    %col{ :width => '14%' } <!-- Status -->
    %col{ :width => '5%' } <!-- Check No -->
    %col{ :width => '9%' } <!-- Transfer Date -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
  - elsif @submitted
    %col{ :width => '5%' } <!-- ID -->
    %col{ :width => '20%' } <!-- Employee -->
    %col{ :width => '20%' } <!-- For Dates -->
    %col{ :width => '6%' } <!-- Hours -->
    %col{ :width => '6%' } <!-- Rate -->
    %col{ :width => '10%' } <!-- Net Pay -->
    %col{ :width => '14%' } <!-- Status -->
    %col{ :width => '5%' } <!-- Check No -->
    %col{ :width => '9%' } <!-- Transfer Date -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
  - else
    %col{ :width => '5%' } <!-- ID -->
    %col{ :width => '20%' } <!-- For Dates -->
    %col{ :width => '10%' } <!-- Hours -->
    %col{ :width => '10%' } <!-- Rate -->
    %col{ :width => '15%' } <!-- Net Pay -->
    %col{ :width => '15%' } <!-- Status -->
    %col{ :width => '10%' } <!-- Check No -->
    %col{ :width => '10%' } <!-- Transfer Date -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
- elsif current_user.manager?
  - if @submitted
    %col{ :width => '20%' } <!-- Employee -->
    %col{ :width => '20%' } <!-- For Dates -->
    %col{ :width => '10%' } <!-- Hours -->
    %col{ :width => '10%' } <!-- Net Pay -->
    %col{ :width => '15%' } <!-- Status -->
    %col{ :width => '10%' } <!-- Check No -->
    %col{ :width => '10%' } <!-- Transfer Date -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
  - else
    %col{ :width => '25%' } <!-- For Dates -->
    %col{ :width => '13%' } <!-- Hours -->
    %col{ :width => '13%' } <!-- Net Pay -->
    %col{ :width => '18%' } <!-- Status -->
    %col{ :width => '13%' } <!-- Check No -->
    %col{ :width => '13%' } <!-- Transfer Date -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
    %col{ :width => '1%' } <!-- Button -->
- else
  %col{ :width => '60%' } <!-- For Dates -->
  %col{ :width => '10%' } <!-- Hours -->
  %col{ :width => '10%' } <!-- Net Pay -->
  %col{ :width => '15%' } <!-- Status -->
  %col{ :width => '1%' } <!-- Button -->
  %col{ :width => '1%' } <!-- Button -->
  %col{ :width => '1%' } <!-- Button -->
  %col{ :width => '1%' } <!-- Button -->
  %col{ :width => '1%' } <!-- Button -->