<h1>Edit invoice</h1>

<%= render 'shared/errors', object: @invoice %>

<%= form_for @user do |form| %>
<%= render partial: 'fields', locals: { f: form } %>

<%= form.submit 'Update invoice' %>
<% end %>