<% if current_user.admin %>
    <h1>Employee invoices</h1>
<% else %>
    <h1>Invoices</h1>
<% end %>
<br>
<% if @user.invoices.count > 0 %>
    <table>
      <col width="100">
      <col width="100">
      <col width="100">
      <col width="100">
      <col width="100">
      <col width="50">
      <col width="50">
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Hours</th>
        <th>Net Pay</th>
        <th>Status</th>
      </tr>
      <%= render @invoices %>
    </table><br>
    <%= link_to "New invoice", new_user_invoice_path(@user) %>
<% else %>
    <p>You do not have any invoices yet.</p>
    <%= link_to "New invoice", new_user_invoice_path(@user) %>
<% end %>