<% if current_user.admin %>
    <h1>Employee invoices</h1>
    <%= link_to "Back to Users", users_path(@user), class: "btn btn-primary" %><br>
<% else %>
    <h1>Invoices</h1>
<% end %>
<br>
<% if (@user and @user.invoices.count > 0) or (@user == nil and Invoice.where(:status => "Pending").count > 0) %>
    <table class="table table-striped">
      <% if @user == nil and Invoice.where(:status => "Pending").count > 0 %>
          <col width="200">
      <% end %>
      <col width="125">
      <col width="50">
      <col width="75">
      <col width="100">
      <% if current_user.admin %>
          <col width="75">
      <% end %>
      <col width="50">
      <col width="50">
      <% if current_user.admin %>
          <col width="50">
          <col width="50">
          <col width="50">
      <% end %>
      <col width="50">
      <col width="50">
      <tr>
        <% if @user == nil and Invoice.where(:status => "Pending").count > 0 %>
            <th class="center">Employee</th>
        <% end %>
        <th class="center">For Dates</th>
        <th class="center">Hours</th>
        <th class="center">Net Pay</th>
        <th class="center">Status</th>
        <% if current_user.admin %>
            <th class="center">Check No.</th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <% if current_user.admin %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
      <%= render @invoices %>
    </table>
    <% if @user %>
      <td>
        <%= link_to "New Invoice", new_user_invoice_path(@user), class: "btn btn-success" %>
      </td>
    <% end %>
<% elsif @user %>
    <p>You do not have any invoices yet.</p>
    <td>
      <%= link_to "New Invoice", new_user_invoice_path(@user), class: "btn btn-success" %>
    </td>
<% elsif Invoice.where(:status => "Pending").count == 0 %>
    <p>There are no pending invoices.</p>
<% end %>
<br><br>