<% if current_user.admin %>
    <h1>Employee invoices</h1>
    <%= link_to "Back to Users", users_path(@user) %><br>
<% else %>
    <h1>Invoices</h1>
<% end %>
<br>
<% if @user.invoices.count > 0 %>
    <table class="table table-striped">
      <col width="100">
      <col width="100">
      <col width="100">
      <col width="100">
      <col width="100">
      <col width="50">
      <col width="50">
      <% if current_user.admin %>
          <col width="50">
          <col width="50">
          <col width="50">
      <% end %>
      <col width="50">
      <col width="50">
      <tr>
        <th class="center">Start Date</th>
        <th class="center">End Date</th>
        <th class="center">Hours</th>
        <th class="center">Net Pay</th>
        <th class="center">Status</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <% if current_user.admin %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
      <%= render @invoices %>
    </table>
    <%= link_to "New invoice", new_user_invoice_path(@user) %>
<% else %>
    <p>You do not have any invoices yet.</p>
    <%= link_to "New invoice", new_user_invoice_path(@user) %>
<% end %>