%h1.text-center Log In
%br
%br

= form_tag logins_path, class: 'text-center' do
  %p= text_field_tag :username, params[:username], class: 'form-control username', placeholder: 'Username'
  %p= password_field_tag :password, params[:password], class: 'form-control password', placeholder: 'Password'
  = submit_tag 'Log In', class: 'btn btn-default'