<h1>Employees</h1>
<br>
<% if (User.where(:admin => false).count > 0 and !current_user.master) || (User.count > 0 and current_user.master) %>
  <table class="table table-striped">
    <% if current_user.master %>
      <col width="50"> <!-- ID for Masters -->
    <% end %>
    <col width="200"> <!-- Employee Name -->
    <% if current_user.master %>
        <col width="200"> <!-- Username for Masters -->
    <% end %>
    <col width="200"> <!-- Email -->
    <col width="100"> <!-- Hourly Rate -->
    <col width="100"> <!-- Current Invoice -->
    <% if current_user.master %>
        <col width="50"> <!-- Manager? for Masters -->
        <col width="50"> <!-- Admin? for Masters -->
        <col width="50"> <!-- Reset Profile? for Masters -->
        <col width="200"> <!-- Created At for Masters -->
        <col width="200"> <!-- Updated At for Masters -->
    <% end %>
    <col width="50"> <!-- View Invoices Button -->
    <col width="50"> <!-- Edit User Button -->
    <% if current_user.master %>
      <col width="50"> <!-- Delete User Button -->
    <% end %>
    <tr>
      <% if current_user.master %>
          <th class="bottom-align">ID</th>
      <% end %>
      <th class="bottom-align">Employee Name</th>
      <% if current_user.master %>
          <th class="bottom-align">Username</th>
      <% end %>
      <th class="bottom-align">Email</th>
      <th class="bottom-align right-align">Hourly Rate</th>
      <th class="bottom-align right-align">Current Invoice</th>
      <% if current_user.master %>
          <th class="bottom-align center">Manager?</th>
          <th class="bottom-align center">Admin?</th>
          <th class="bottom-align center">Reset Profile?</th>
          <th class="bottom-align">Created At</th>
          <th class="bottom-align">Updated At</th>
      <% end %>
      <th></th>
      <th></th>
      <% if current_user.master %>
        <th></th>
      <% end %>
    </tr>
    <%= render @users %>
  </table>
    <% if current_user.master %>
      <td>
        <%= link_to "New User", new_user_path, class: "btn btn-success" %>
      </td>
    <% end %>
<% else %>
    <% if current_user.master %>
      <p>There are no employees yet.</p>
      <td>
        <%= link_to "New User", new_user_path, class: "btn btn-success" %>
      </td>
    <% else %>
      <p>You do not have any employees yet.</p>
      <p>Please contact your administrator to add employees.</p>
    <% end %>
<% end %>