.row
  %br
  .col.s12.l9.push-l3
    - if current_user.admin?
      %h4 Users
    - else
      %h4 Employees
    %br
    - if (User.managers.count > 0 and !current_user.admin?) or (User.count > 0 and current_user.admin?)
      = render @users
      - if current_user.admin?
        = link_to new_user_path, class: 'btn add-button-padding' do
          %i.material-icons.left add
          New User
        %br
        %br
    - else
      - if current_user.admin?
        %p There are no employees yet.
        = link_to new_user_path, class: 'btn add-button-padding' do
          %i.material-icons.left add
          New User
        %br
        %br
      - else
        %p You do not have any employees yet.
        %p Please contact your administrator to add employees.
  .col.s12.l3.pull-l9
    = render 'shared/view_card'