<h1>Employees</h1>
<br>
<% if User.where(:admin => false).count > 0 %>
  <table class="table table-striped">
    <col width="200">
    <col width="200">
    <col width="100">
    <col width="50">
    <col width="50">
    <tr>
      <th class="bottom-align">Employee Name</th>
      <th class="bottom-align">Email</th>
      <th class="bottom-align center">Current Invoice Amount</th>
      <th></th>
      <th></th>
    </tr>
    <%= render @users %>
  </table>
  <td><button class="btn btn-success">
    <%= link_to "New User", new_user_path %>
  </button></td>
<% else %>
    <p>You do not have any employees yet.</p>
    <td><button class="btn btn-success">
      <%= link_to "New User", new_user_path %>
    </button></td>
<% end %>