%ol.breadcrumb
  %li.breadcrumb-item.active Employees

%h1 Employees
%br
- if (User.managers.count > 0 and !current_user.admin?) or (User.count > 0 and current_user.admin?)
  %table.table.table-striped
    = render 'column_widths'
    %tr
      - if current_user.admin?
        %th.bottom-align ID
      %th.bottom-align Employee Name
      - if current_user.admin?
        %th.bottom-align Username
      %th.bottom-align Email
      %th.bottom-align.text-right Hourly Rate
      %th.bottom-align.text-right Current Invoice
      - if current_user.admin?
        %th.bottom-align.text-center Profile
        %th.bottom-align.text-center Reset Profile?
      %th
      %th
      - if current_user.admin?
        %th
    = render @users
  - if current_user.admin?
    %td
      = link_to new_user_path, class: 'btn btn-success' do
        %i.glyphicon.glyphicon-plus
        NEW USER
- else
  - if current_user.admin?
    %p There are no employees yet.
    %td
      = link_to new_user_path, class: 'btn btn-success' do
        %i.glyphicon.glyphicon-plus
        NEW USER
  - else
    %p You do not have any employees yet.
    %p Please contact your administrator to add employees.