.container
  .row
    %nav.grey.lighten-5
      .nav-wrapper
        .col.s12
          = link_to 'Users', users_path, class: 'breadcrumb grey-text text-darken-4'

  %br
  - if current_user.admin?
    %h4 Users
  - else
    %h4 Employees
  %br
  - if (User.managers.count > 0 and !current_user.admin?) or (User.count > 0 and current_user.admin?)
    = render @users
    - if current_user.admin?
      = link_to new_user_path, class: 'btn-floating btn-large green' do
        %i.material-icons add
  - else
    - if current_user.admin?
      %p There are no employees yet.
      = link_to new_user_path, class: 'btn-floating btn-large green' do
        %i.material-icons add
    - else
      %p You do not have any employees yet.
      %p Please contact your administrator to add employees.