<h1>Invoice for <%= @user.fullname %></h1>
<table>
  <col width="100">
  <col width="100">
  <col width="100">
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
  </tr>
  <%= render @user.invoices %>
</table>
<%= link_to "New invoice", new_user_invoice_path(@user) %>