.card.grey.lighten-4
  .card-content
    %span.card-title Administration
    = link_to '#', class: 'valign-wrapper' do
      %i.material-icons.grey-text.text-darken-1.left settings
      Manage Blacklist/Whitelist