- if object.errors.any?
  - if object.errors.count == 1
    - flash[:danger] = object.errors.full_messages[0]
  - else
    - flash[:danger] = "This form has multiple errors"
    %ul
      - object.errors.full_messages.each do |message|
        %li= message