
- if current_user.admin?
  %col{ :width => '5%' } <!-- ID -->
  %col{ :width => '10%' } <!-- Date -->
  %col{ :width => '63%' } <!-- Description -->
  %col{ :width => '10%' } <!-- Hours -->
  %col{ :width => '10%' } <!-- Daily Rate -->
  %col{ :width => '1%' } <!-- Edit Button -->
  %col{ :width => '1%' } <!-- Delete Button -->
- else
  %col{ :width => '10%' } <!-- Date -->
  %col{ :width => '68%' } <!-- Description -->
  %col{ :width => '10%' } <!-- Hours -->
  %col{ :width => '10%' } <!-- Daily Rate -->
  %col{ :width => '1%' } <!-- Edit Button -->
  %col{ :width => '1%' } <!-- Delete Button -->