<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have submitted your invoice</h1>
<p>You can see it in full detail on the Luscombe & Associates payment website.</p>
<p>Once an administrator approves it, you will see it in your bank statement. If your invoice
gets declined, please contact an administrator immediately.</p>
</body>
</html>