/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.add-button-padding {
  padding-left: 15px;
}

.brand {
  height: 58px;
  vertical-align: middle;
  width: 259px;
}

.breadcrumb {
  font-size: 12px;
}

.breadcrumb:before {
  color: #9E9E9E;
  font-size: 12px;
}

.border-test {
  border: 1px solid black;
}

.dropdown-button {
  padding-right: 5px;
}

.edit-delete-cell {
  width: 115px;
}

.edit-delete-icons {
  min-width: 115px;
}

.emphasized {
  font-size: 24px;
}

.fill-100 {
  width: 100%;
}

i.left {
  margin-right: 10px;
}

.login-container {
  padding: 32px 48px 0 48px;
}

.material-icons.nav-icons {
  display: inline;
}

nav.main {
  background-color: #222;
}

.no-box-shadow {
  box-shadow: none;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.payment-cell {
  width: 100px;
}

.pointer {
  cursor: pointer;
}

#preloader {
  display: none;
}

#preloader-container {
  background: #555;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

.space-between {
  justify-content: space-between;
}

ul.dropdown-content {
  margin-top: 64px;
  min-width: 150px;
}

ul.dropdown-content li > a > i {
  margin-right: 5px;
}

table.bordered > tbody > tr:first-child td {
  border-top: 1px solid #d0d0d0;
}

.toast {
  right: -50%;
}

#toast-container {
  right: 50%;
  top: 64px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 992px) {
  .login-container {
    display: inline-block;
    width: 400px;
  }
}