/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  padding-right: 25px;
}

td {
  border: 1px solid black;
  padding-left: 2px;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
  padding-right: 5px;
}

.middle-align {
  padding-top: 5px;
}

.no-border {
  border: none;
}

.top-bottom-border {
  border-left: none;
  border-right: none;
}

.space-above {
  margin-top: 10px;
}

.emphasized {
  font-size: 1.5em;
}

.approve {
  color: green;
}

.decline {
  color: red;
}

.override {
  background-color: #FFA;
}

nav {
  border-radius: 0 !important;
  padding: 0;
}

img {
  height: 50px;
  margin-left: 2px;
  margin-right: 2px;
}

.nav {
  padding: 0;
}

li > a {
  color: white !important;
  margin-right: 10px;
}

td.login {
  height: 30px;
}

* {
  font-family: "Candara", Sans-Serif;
}