/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  padding-right: 25px;
}

.center {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
  padding-right: 5px;
}

.middle-align {
  vertical-align: middle !important;
}

.bottom-align {
  vertical-align: bottom !important;
}

.padding-top {
  padding-top: 5px;
}

.no-border {
  border: none;
}

.top-bottom-border {
  border-left: none;
  border-right: none;
}

.space-above {
  margin-top: 10px;
}

.emphasized {
  font-size: 1.5em;
}

.approve {
  color: green;
}

.decline {
  color: red;
}

.override {
  background-color: #FFA;
}

nav {
  border-radius: 0 !important;
  padding: 0;
}

.nav {
  padding: 0;
}

li > a {
  color: white !important;
}

img.brand {
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

a.navbar-brand {
  padding: 0;
}

td.login {
  height: 30px;
}

div.field_with_errors {
  display: inline;
}

button > a {
  color: white !important;
  text-decoration: none !important;
}

@media (min-width: 1600px) {
  .container {
    width: 1560px;
  }
}

@media (min-width: 1800px) {
  .container {
    width: 1755px;
  }
}

.empty_row {
  height: 20px;
}

* {
  font-family: "Candara", Sans-Serif;
}