/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

a.navbar-brand {
  padding: 0;
}

.alert {
  padding: 0 0 0 15px;
  white-space: pre-wrap;
}

.approve {
  color: green;
}

.bottom-align {
  vertical-align: bottom !important;
}

button > a {
  color: white !important;
  text-decoration: none !important;
}

.btn.btn-danger.btn-outline,
.btn.btn-danger.btn-outline:active,
.btn.btn-danger.btn-outline:focus,
.btn.btn-danger.btn-outline:hover {
  background-color: #fff;
  border-color: #d9534f;
  box-shadow: none;
  color: #d9534f;
}

.btn.btn-primary.btn-outline,
.btn.btn-primary.btn-outline:active,
.btn.btn-primary.btn-outline:focus,
.btn.btn-primary.btn-outline:hover {
  background-color: #fff;
  border-color: #0275d8;
  box-shadow: none;
  color: #0275d8;
}

.btn.btn-success.btn-outline,
.btn.btn-success.btn-outline:active,
.btn.btn-success.btn-outline:focus,
.btn.btn-success.btn-outline:hover {
  background-color: #fff;
  border-color: #5cb85c;
  box-shadow: none;
  color: #5cb85c;
}

.btn.btn-danger,
.btn.btn-danger:active,
.btn.btn-danger:focus,
.btn.btn-danger:hover {
  background-color: #d9534f;
  border-color: #d9534f;
  box-shadow: none;
  color: #fff;
}

.btn.btn-primary,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background-color: #0275d8;
  border-color: #0275d8;
  box-shadow: none;
  color: #fff;
}

.btn.btn-success,
.btn.btn-success:active,
.btn.btn-success:focus,
.btn.btn-success:hover {
  background-color: #5cb85c;
  border-color: #5cb85c;
  box-shadow: none;
  color: #fff;
}

div.field_with_errors {
  display: inline;
  input {
    border: 1px solid #d9534f;
  }
}

.fields > tbody > tr > td {
  padding-top: 10px;
}

img.brand {
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

.input-group {
  width: 100%;
}

label {
  margin-bottom: 0;
  margin-right: 10px;
}

li > a {
  color: white !important;
}

.middle-align {
  vertical-align: middle !important;
}

nav {
  border-radius: 0 !important;
  padding: 0;
}

.nav {
  padding: 0;
}

.override {
  background-color: #FFA;
}

ul {
  padding-right: 25px;
}

@media (min-width: 1200px) {
  .container-fluid {
    margin-left: 120px;
    margin-right: 120px;
  }
}

* {
  box-shadow: none !important;
  font-family: "Candara", Sans-Serif;
}