// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.view-invoices-margin {
  margin-left: 50px;
}

.description {
  padding-left: 5px;
}

.panel.panel-default {
  border: 1px solid #ccc;
  margin: 0;
}

.panel.panel-default > .panel-body {
  padding: 6px 12px;
}